* {
	margin: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

/*ENCABEZADO*/

.encabezado{
	display: flex;
	flex-direction: row;
	/*background: red;*/ 
	height: 10%;
	justify-content: space-between;
}

.encabezado > img {
	width: 150px;
	height: 90px;
	margin-left: 20px;
	/*background: black;*/
	margin: 40px 100px;
}

.menu{
	display: flex;
	flex-direction: row;
	/*background: blue;*/
	margin: 60px 100px;
}

.menu > li {
	display: flex;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	margin:10px;
	/*background: orange;*/
}

li a {
	color: black;
	margin: auto;
	padding: 15px;
	align-items: center;
	/*background: green;*/
}


/*iNICIO*/

/*Títulos*/ 

h1, h2{
	text-align: center;
	font-size: 50px; 
	margin: 10px;
}

h2{
	font-size: 30px;
}

/*PORTADA*/

.portada, .img_portada{
	height: 600px;
	width: 90%; 
	margin: 40px 5%;
	margin-bottom: 40px;
}

/*ABOUT US*/

main {
	height: 850px;
	width: 90%; 
	margin: 100px auto;
	display: flex;
	flex-direction: row;
}


.img_inicio, .info_inicio {
	height: 600px;
	width: 60%; 
	margin: 40px auto;
}

.info_inicio {
	width: 40%;
}

h3, h4, p {
	text-align: center; 
	font-size: 45px;
	margin: 50px;
}

h3{
	margin-top: 40px;
}

h4{
	font-size: 30px;
}

p {
	font-size: 20px;
	margin-top: 40px;
}

/*Servicios*/

.lista_nosotros{
	display:flex;
	flex direction: row;
}
